<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ManagerApply</title>

    <link rel="stylesheet" href="/css/uikit.min.css"/>
    <link rel="stylesheet" href="/css/uikit-custom.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
    <script src="/js/managerCenter.js"></script>

</head>
<body>

<div th:include="navigation::navigation"></div>
<div th:include="managerNav::managerNavigation"></div>

<div style="position: absolute; left: 22%; top: 90px; width: 78%">

    <table  class="uk-table uk-table-justify uk-table-divider">
        <thead>
        <tr>
            <th>名称</th>
            <th>地点</th>
            <th>座位数</th>
            <th>审批</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="stadium:${applyList}">
            <td th:text="${stadium.name}"></td>
            <td th:text="${stadium.location}"></td>
            <td th:text="${stadium.seatAmount}"></td>
            <td><a class="uk-label" th:onclick="'javascript:passApply(\''+${stadium.id}+'\');'">同意</a></td>
            <td><a class="uk-label" th:onclick="'javascript:rejectApply(\''+${stadium.id}+'\');'">拒绝</a></td>
        </tr>

        </tbody>
    </table>

</div>


</body>
</html>