<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MemberInfo</title>

    <link rel="stylesheet" href="/css/uikit.min.css"/>
    <link rel="stylesheet" href="/css/uikit-custom.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
    <script src="/js/memberCenter.js"></script>

    <style>
        .uk-form-label{
            color: #999999;
            padding-left: 45px;
        }
    </style>

</head>
<body>

<div th:include="navigation::navigation"></div>
<div th:include="memberNav::memberNavigation"></div>

<article style="position: absolute; left: 22% ; top: 90px ;width: 70%; height: 600px" class="uk-comment uk-comment-primary">
    <div class="uk-comment-body">

        <form style="margin-top: 20px" class="uk-form-horizontal uk-margin-large">

            <div class="uk-margin">
                <label class="uk-form-label">用户名</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-form-width-large" type="text" th:value="${member.username}" disabled>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label">邮箱</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-form-width-large" type="text" th:value="${member.email}" disabled>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label">会员等级</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-form-width-large" type="text" th:value="${member.level}" disabled>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label">会员积分</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-form-width-large" type="text" th:value="${member.point}" disabled>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label">账户余额</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-form-width-large" type="text" th:value="${member.balance}" disabled>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label">总下单次数</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-form-width-large" type="text" th:value="${orderTotalAmount}" disabled>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label">成功支付次数</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-form-width-large" type="text" th:value="${orderPayAmount}" disabled>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label">总支出</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-form-width-large" type="text" th:value="${orderSum}" disabled>
                </div>
            </div>

            <div class="uk-text-center">
                <button style="margin-top: 30px; width: 200px; background-color: #faa05a; color: white " class="uk-button uk-button-default" type="button" th:onclick="'javascript:cancelMember(\''+${member.email}+'\');'">注销会员</button>
            </div>

        </form>

    </div>
</article>

</body>
</html>