<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MemberCenter</title>

    <link rel="stylesheet" href="../static/css/uikit.min.css"/>
    <link rel="stylesheet" href="../static/css/uikit-custom.css">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/uikit-icons.min.js"></script>

</head>
<body>

<div th:include="navigation::navigation"></div>
<div th:include="memberNav::memberNavigation"></div>

</body>
</html>