<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="memberNavigation">

    <div style="position: absolute; left: 0; top: 60px; bottom: 0;border: 1px #e5e5e5;border-right-style: solid;" class="uk-width-1-5">
        <ul style="font-size: 20px; margin-top: 30px;" class="uk-nav uk-nav-default uk-text-center" >
            <li><a href="/memberInfo">个人信息</a></li>
            <li><a href="/memberModify">修改信息</a></li>
            <li><a href="#">查看订单</a></li>
            <li><a href="#">查看优惠</a></li>
        </ul>
    </div>

</div>

</body>
</html>