<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
<body>

<div th:fragment="navigation">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $.get("/checkLoginStatus",function(data,status){
                var loginButton = $("#loginButton");
                var myTicket = $("#my_ticket");
                if(data) {
                    loginButton.text("登出");
                    loginButton.attr("href", "/logout");

                    $.get("/checkLoginType", function (data, status) {
                        var center = $("#center");

                        if(data === "member"){
                            center.text("个人中心");
                            center.attr("href","/memberCenter");
                            myTicket.attr("href","/activity");
                        }

                        if(data === "stadium"){
                            center.text("场馆中心");
                            center.attr("href","/stadiumCenter");
                        }

                        if(data === "manager"){
                            center.text("管理中心");
                            center.attr("href","/managerCenter");
                        }
                    })

                }else {
                    myTicket.attr("href","/homepage");
                    loginButton.text("登录");
                    loginButton.attr("href", "/login");
                }
            });

        });

        function showAlert(message) {
            $("#message").text(message);
            $("#alert").show().delay(1000).fadeOut();
        }
    </script>

    <nav class="uk-navbar" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo uk-light" href="/homepage" id="my_ticket">MyTicket</a>
        </div>

        <div class="uk-navbar-left">
            <a style="font-size: large" class="uk-navbar-item uk-logo uk-light" id="center" href=""></a>
        </div>

        <div class="uk-navbar-right uk-light">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a id="loginButton" href="/login">登录</a></li>
                <li class="uk-active"><a id="registerButton" href="/register">注册</a></li>
            </ul>
        </div>
    </nav>

    <div style="display: none" id="alert" class="uk-alert-warning uk-text-center" uk-alert>
        <p id="message"></p>
    </div>
</div>

</body>
</html>